.score-generator {
  container-type: inline-size;
}

.score-generator__dice-grid {
  --score-generator-grid-gap: var(--spacing-2);

  gap: var(--score-generator-grid-gap);
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.score-generator__die-button {
  aspect-ratio: 1;
  inline-size: 100%;
  max-inline-size: 5.75rem;
  justify-self: center;
}

@container (min-width: 32.25rem) {
  .score-generator__dice-grid {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .score-generator__die-button {
    max-inline-size: 6.25rem;
  }
}

@media (--breakpoint-sm-up) {
  .score-generator__history-item {
    grid-template-columns: auto 1fr auto;
  }
}
