.rich-button:not([disabled]):hover img {
  animation: up-and-down 0.5s infinite alternate;
}

.rich-button {
  min-width: 0;
}

.rich-button > span:last-child {
  text-align: center;
}

@media (max-width: 600px) {
  .rich-button > span:first-child {
    height: 56px;
    width: 56px;
  }

  .rich-button > span:last-child {
    font-size: 1.25rem;
    padding-block: var(--spacing-2);
    padding-inline: var(--spacing-2);
    width: 100%;
  }
}

@keyframes up-and-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5%);
  }
}
