/**
 * Global typography utilities
 */

@utility font-body {
  font: var(--font-body-1);
}

@utility font-mega {
  font: var(--font-title-mega);
}

@utility font-heading {
  font: var(--font-title-2);
}

@utility font-sub-heading {
  font: var(--font-title-3);
}

@utility font-button-small {
  font: var(--font-button-1);
}

@utility font-button {
  font: var(--font-button-2);
}

@utility font-button-large {
  font: var(--font-button-3);
}
