@import "tailwindcss";
@import "./tokens.theme.css";
@import "./font.css";

body {
  font: var(--font-body-1);
}

.splash-screen {
  animation: slide-in ease-in 0.5s forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

@keyframes slide-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes bounce-in {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.animate-bounce-in {
  animation: bounce-in 0.4s ease-out forwards;
}

.avatar-list-input:checked + .avatar-list-image,
.avatar-list-input:focus-visible + .avatar-list-image {
  box-shadow:
    0 0 0 2px white,
    0 0 0 6px var(--color-red-700);
}

.player-list li:not(:last-child) {
  border-bottom: 1px solid var(--color-sun-200);
}

/***
  Modal
***/

@property --splash-spinner-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

:root {
  --splash-spinner-color-primary: var(--color-green-50);
  --splash-spinner-color-secondary: var(--color-white);
}

.modal[data-theme="warning"] {
  --splash-spinner-color-primary: var(--color-red-50);
  --splash-spinner-color-secondary: var(--color-white);
}

.modal[data-theme="success"] {
  --splash-spinner-color-primary: var(--color-yellow-50);
  --splash-spinner-color-secondary: var(--color-white);
}

.modal[data-variant="splash"] {
  --splash-spinner-angle: 0turn;

  transition: opacity 200ms ease-out;
  background-image: conic-gradient(
    from var(--splash-spinner-angle),
    var(--splash-spinner-color-primary) 0,
    var(--splash-spinner-color-primary) 10%,
    var(--splash-spinner-color-secondary) 10%,
    var(--splash-spinner-color-secondary) 20%,
    var(--splash-spinner-color-primary) 20%,
    var(--splash-spinner-color-primary) 30%,
    var(--splash-spinner-color-secondary) 30%,
    var(--splash-spinner-color-secondary) 40%,
    var(--splash-spinner-color-primary) 40%,
    var(--splash-spinner-color-primary) 50%,
    var(--splash-spinner-color-secondary) 50%,
    var(--splash-spinner-color-secondary) 60%,
    var(--splash-spinner-color-primary) 60%,
    var(--splash-spinner-color-primary) 70%,
    var(--splash-spinner-color-secondary) 70%,
    var(--splash-spinner-color-secondary) 80%,
    var(--splash-spinner-color-primary) 80%,
    var(--splash-spinner-color-primary) 90%,
    var(--splash-spinner-color-secondary) 90%,
    var(--splash-spinner-color-secondary) 100%
  );
  animation: splash-spin 4s linear infinite;
}

@keyframes splash-spin {
  to {
    --splash-spinner-angle: 1turn;
  }
}

.modal__dialog {
  max-height: calc(100dvh - var(--spacing-5));
  max-width: 1200px;
  width: fit-content;
}
