@layer utilities {
  .gap-0 {
    gap: var(--spacing-0);
  }

  .gap-x-0 {
    column-gap: var(--spacing-0);
  }

  .gap-y-0 {
    row-gap: var(--spacing-0);
  }

  .p-0 {
    padding: var(--spacing-0);
  }

  .px-0 {
    padding-inline: var(--spacing-0);
  }

  .py-0 {
    padding-block: var(--spacing-0);
  }

  .pl-0 {
    padding-inline-start: var(--spacing-0);
  }

  .pr-0 {
    padding-inline-end: var(--spacing-0);
  }

  .pt-0 {
    padding-block-start: var(--spacing-0);
  }

  .pb-0 {
    padding-block-end: var(--spacing-0);
  }

  .m-0 {
    margin: var(--spacing-0);
  }

  .mx-0 {
    margin-inline: var(--spacing-0);
  }

  .my-0 {
    margin-block: var(--spacing-0);
  }

  .ml-0 {
    margin-inline-start: var(--spacing-0);
  }

  .mr-0 {
    margin-inline-end: var(--spacing-0);
  }

  .mt-0 {
    margin-block-start: var(--spacing-0);
  }

  .mb-0 {
    margin-block-end: var(--spacing-0);
  }

  .gap-2xs {
    gap: var(--spacing-1);
  }

  .gap-x-2xs {
    column-gap: var(--spacing-1);
  }

  .gap-y-2xs {
    row-gap: var(--spacing-1);
  }

  .p-2xs {
    padding: var(--spacing-1);
  }

  .px-2xs {
    padding-inline: var(--spacing-1);
  }

  .py-2xs {
    padding-block: var(--spacing-1);
  }

  .pl-2xs {
    padding-inline-start: var(--spacing-1);
  }

  .pr-2xs {
    padding-inline-end: var(--spacing-1);
  }

  .pt-2xs {
    padding-block-start: var(--spacing-1);
  }

  .pb-2xs {
    padding-block-end: var(--spacing-1);
  }

  .m-2xs {
    margin: var(--spacing-1);
  }

  .mx-2xs {
    margin-inline: var(--spacing-1);
  }

  .my-2xs {
    margin-block: var(--spacing-1);
  }

  .ml-2xs {
    margin-inline-start: var(--spacing-1);
  }

  .mr-2xs {
    margin-inline-end: var(--spacing-1);
  }

  .mt-2xs {
    margin-block-start: var(--spacing-1);
  }

  .mb-2xs {
    margin-block-end: var(--spacing-1);
  }

  .gap-xs {
    gap: var(--spacing-2);
  }

  .gap-x-xs {
    column-gap: var(--spacing-2);
  }

  .gap-y-xs {
    row-gap: var(--spacing-2);
  }

  .p-xs {
    padding: var(--spacing-2);
  }

  .px-xs {
    padding-inline: var(--spacing-2);
  }

  .py-xs {
    padding-block: var(--spacing-2);
  }

  .pl-xs {
    padding-inline-start: var(--spacing-2);
  }

  .pr-xs {
    padding-inline-end: var(--spacing-2);
  }

  .pt-xs {
    padding-block-start: var(--spacing-2);
  }

  .pb-xs {
    padding-block-end: var(--spacing-2);
  }

  .m-xs {
    margin: var(--spacing-2);
  }

  .mx-xs {
    margin-inline: var(--spacing-2);
  }

  .my-xs {
    margin-block: var(--spacing-2);
  }

  .ml-xs {
    margin-inline-start: var(--spacing-2);
  }

  .mr-xs {
    margin-inline-end: var(--spacing-2);
  }

  .mt-xs {
    margin-block-start: var(--spacing-2);
  }

  .mb-xs {
    margin-block-end: var(--spacing-2);
  }

  .gap-sm {
    gap: var(--spacing-3);
  }

  .gap-x-sm {
    column-gap: var(--spacing-3);
  }

  .gap-y-sm {
    row-gap: var(--spacing-3);
  }

  .p-sm {
    padding: var(--spacing-3);
  }

  .px-sm {
    padding-inline: var(--spacing-3);
  }

  .py-sm {
    padding-block: var(--spacing-3);
  }

  .pl-sm {
    padding-inline-start: var(--spacing-3);
  }

  .pr-sm {
    padding-inline-end: var(--spacing-3);
  }

  .pt-sm {
    padding-block-start: var(--spacing-3);
  }

  .pb-sm {
    padding-block-end: var(--spacing-3);
  }

  .m-sm {
    margin: var(--spacing-3);
  }

  .mx-sm {
    margin-inline: var(--spacing-3);
  }

  .my-sm {
    margin-block: var(--spacing-3);
  }

  .ml-sm {
    margin-inline-start: var(--spacing-3);
  }

  .mr-sm {
    margin-inline-end: var(--spacing-3);
  }

  .mt-sm {
    margin-block-start: var(--spacing-3);
  }

  .mb-sm {
    margin-block-end: var(--spacing-3);
  }

  .gap-md {
    gap: var(--spacing-4);
  }

  .gap-x-md {
    column-gap: var(--spacing-4);
  }

  .gap-y-md {
    row-gap: var(--spacing-4);
  }

  .p-md {
    padding: var(--spacing-4);
  }

  .px-md {
    padding-inline: var(--spacing-4);
  }

  .py-md {
    padding-block: var(--spacing-4);
  }

  .pl-md {
    padding-inline-start: var(--spacing-4);
  }

  .pr-md {
    padding-inline-end: var(--spacing-4);
  }

  .pt-md {
    padding-block-start: var(--spacing-4);
  }

  .pb-md {
    padding-block-end: var(--spacing-4);
  }

  .m-md {
    margin: var(--spacing-4);
  }

  .mx-md {
    margin-inline: var(--spacing-4);
  }

  .my-md {
    margin-block: var(--spacing-4);
  }

  .ml-md {
    margin-inline-start: var(--spacing-4);
  }

  .mr-md {
    margin-inline-end: var(--spacing-4);
  }

  .mt-md {
    margin-block-start: var(--spacing-4);
  }

  .mb-md {
    margin-block-end: var(--spacing-4);
  }

  .gap-lg {
    gap: var(--spacing-5);
  }

  .gap-x-lg {
    column-gap: var(--spacing-5);
  }

  .gap-y-lg {
    row-gap: var(--spacing-5);
  }

  .p-lg {
    padding: var(--spacing-5);
  }

  .px-lg {
    padding-inline: var(--spacing-5);
  }

  .py-lg {
    padding-block: var(--spacing-5);
  }

  .pl-lg {
    padding-inline-start: var(--spacing-5);
  }

  .pr-lg {
    padding-inline-end: var(--spacing-5);
  }

  .pt-lg {
    padding-block-start: var(--spacing-5);
  }

  .pb-lg {
    padding-block-end: var(--spacing-5);
  }

  .m-lg {
    margin: var(--spacing-5);
  }

  .mx-lg {
    margin-inline: var(--spacing-5);
  }

  .my-lg {
    margin-block: var(--spacing-5);
  }

  .ml-lg {
    margin-inline-start: var(--spacing-5);
  }

  .mr-lg {
    margin-inline-end: var(--spacing-5);
  }

  .mt-lg {
    margin-block-start: var(--spacing-5);
  }

  .mb-lg {
    margin-block-end: var(--spacing-5);
  }

  .gap-xl {
    gap: var(--spacing-6);
  }

  .gap-x-xl {
    column-gap: var(--spacing-6);
  }

  .gap-y-xl {
    row-gap: var(--spacing-6);
  }

  .p-xl {
    padding: var(--spacing-6);
  }

  .px-xl {
    padding-inline: var(--spacing-6);
  }

  .py-xl {
    padding-block: var(--spacing-6);
  }

  .pl-xl {
    padding-inline-start: var(--spacing-6);
  }

  .pr-xl {
    padding-inline-end: var(--spacing-6);
  }

  .pt-xl {
    padding-block-start: var(--spacing-6);
  }

  .pb-xl {
    padding-block-end: var(--spacing-6);
  }

  .m-xl {
    margin: var(--spacing-6);
  }

  .mx-xl {
    margin-inline: var(--spacing-6);
  }

  .my-xl {
    margin-block: var(--spacing-6);
  }

  .ml-xl {
    margin-inline-start: var(--spacing-6);
  }

  .mr-xl {
    margin-inline-end: var(--spacing-6);
  }

  .mt-xl {
    margin-block-start: var(--spacing-6);
  }

  .mb-xl {
    margin-block-end: var(--spacing-6);
  }

  .gap-2xl {
    gap: var(--spacing-7);
  }

  .gap-x-2xl {
    column-gap: var(--spacing-7);
  }

  .gap-y-2xl {
    row-gap: var(--spacing-7);
  }

  .p-2xl {
    padding: var(--spacing-7);
  }

  .px-2xl {
    padding-inline: var(--spacing-7);
  }

  .py-2xl {
    padding-block: var(--spacing-7);
  }

  .pl-2xl {
    padding-inline-start: var(--spacing-7);
  }

  .pr-2xl {
    padding-inline-end: var(--spacing-7);
  }

  .pt-2xl {
    padding-block-start: var(--spacing-7);
  }

  .pb-2xl {
    padding-block-end: var(--spacing-7);
  }

  .m-2xl {
    margin: var(--spacing-7);
  }

  .mx-2xl {
    margin-inline: var(--spacing-7);
  }

  .my-2xl {
    margin-block: var(--spacing-7);
  }

  .ml-2xl {
    margin-inline-start: var(--spacing-7);
  }

  .mr-2xl {
    margin-inline-end: var(--spacing-7);
  }

  .mt-2xl {
    margin-block-start: var(--spacing-7);
  }

  .mb-2xl {
    margin-block-end: var(--spacing-7);
  }

  .gap-3xl {
    gap: var(--spacing-8);
  }

  .gap-x-3xl {
    column-gap: var(--spacing-8);
  }

  .gap-y-3xl {
    row-gap: var(--spacing-8);
  }

  .p-3xl {
    padding: var(--spacing-8);
  }

  .px-3xl {
    padding-inline: var(--spacing-8);
  }

  .py-3xl {
    padding-block: var(--spacing-8);
  }

  .pl-3xl {
    padding-inline-start: var(--spacing-8);
  }

  .pr-3xl {
    padding-inline-end: var(--spacing-8);
  }

  .pt-3xl {
    padding-block-start: var(--spacing-8);
  }

  .pb-3xl {
    padding-block-end: var(--spacing-8);
  }

  .m-3xl {
    margin: var(--spacing-8);
  }

  .mx-3xl {
    margin-inline: var(--spacing-8);
  }

  .my-3xl {
    margin-block: var(--spacing-8);
  }

  .ml-3xl {
    margin-inline-start: var(--spacing-8);
  }

  .mr-3xl {
    margin-inline-end: var(--spacing-8);
  }

  .mt-3xl {
    margin-block-start: var(--spacing-8);
  }

  .mb-3xl {
    margin-block-end: var(--spacing-8);
  }

  .gap-4xl {
    gap: var(--spacing-9);
  }

  .gap-x-4xl {
    column-gap: var(--spacing-9);
  }

  .gap-y-4xl {
    row-gap: var(--spacing-9);
  }

  .p-4xl {
    padding: var(--spacing-9);
  }

  .px-4xl {
    padding-inline: var(--spacing-9);
  }

  .py-4xl {
    padding-block: var(--spacing-9);
  }

  .pl-4xl {
    padding-inline-start: var(--spacing-9);
  }

  .pr-4xl {
    padding-inline-end: var(--spacing-9);
  }

  .pt-4xl {
    padding-block-start: var(--spacing-9);
  }

  .pb-4xl {
    padding-block-end: var(--spacing-9);
  }

  .m-4xl {
    margin: var(--spacing-9);
  }

  .mx-4xl {
    margin-inline: var(--spacing-9);
  }

  .my-4xl {
    margin-block: var(--spacing-9);
  }

  .ml-4xl {
    margin-inline-start: var(--spacing-9);
  }

  .mr-4xl {
    margin-inline-end: var(--spacing-9);
  }

  .mt-4xl {
    margin-block-start: var(--spacing-9);
  }

  .mb-4xl {
    margin-block-end: var(--spacing-9);
  }

  .gap-5xl {
    gap: var(--spacing-10);
  }

  .gap-x-5xl {
    column-gap: var(--spacing-10);
  }

  .gap-y-5xl {
    row-gap: var(--spacing-10);
  }

  .p-5xl {
    padding: var(--spacing-10);
  }

  .px-5xl {
    padding-inline: var(--spacing-10);
  }

  .py-5xl {
    padding-block: var(--spacing-10);
  }

  .pl-5xl {
    padding-inline-start: var(--spacing-10);
  }

  .pr-5xl {
    padding-inline-end: var(--spacing-10);
  }

  .pt-5xl {
    padding-block-start: var(--spacing-10);
  }

  .pb-5xl {
    padding-block-end: var(--spacing-10);
  }

  .m-5xl {
    margin: var(--spacing-10);
  }

  .mx-5xl {
    margin-inline: var(--spacing-10);
  }

  .my-5xl {
    margin-block: var(--spacing-10);
  }

  .ml-5xl {
    margin-inline-start: var(--spacing-10);
  }

  .mr-5xl {
    margin-inline-end: var(--spacing-10);
  }

  .mt-5xl {
    margin-block-start: var(--spacing-10);
  }

  .mb-5xl {
    margin-block-end: var(--spacing-10);
  }
}
